<h1>Tasks Management Application</h1>

<h2>Search Tasks:</h2>
<form action="" method="get">
  <input type="text" name="type" hidden="true" value="{{request.GET.type}}" />
  <input type="text" name="search" />
  <button type="submit">search</button>
</form>

<h2>Tasks:</h2>
<ol>
  {% for task in tasks %}
  <li>
    <span>{{task.title}} [{{task.priority}}]</span>
    <a href="/delete_task/{{task.id}}">delete</a>
    <a href="/complete_task/{{task.id}}">mark as completd</a>
    <a href="/update_task/{{task.id}}">Update Task</a>
    <a href="/detail_task/{{task.id}}">Details</a>
  </li>
  {% endfor %}
</ol>

<div>
  {%for page in paginator.page_range%}
  <a
    href="?page={{page}}&type={{request.GET.type}}&search={{request.GET.search}}"
    >{{page}}</a
  >
  {% endfor %}
</div>

<a href="?type=completed&search={{request.GET.search}}">completed tasks page</a>
<a href="?type=all&search={{request.GET.search}}">all tasks page</a>
<a href="?type=pending&search={{request.GET.search}}">pending tasks page</a>
