<h1>Tasks Management Application</h1>

<h2>Search Tasks:</h2>
<form action="/tasks" method="get">
  <input type="text" name="search" />
  <button type="submit">search</button>
</form>

<h2>Tasks:</h2>
<ol>
  {% for task in tasks %}
  <li>
    <span>{{task.title}} - {{task.created_date}}</span>
    <a href="/delete_task/{{task.id}}">delete</a>
    <a href="/complete_task/{{task.id}}">mark as completd</a>
    <a href="/update_task/{{task.id}}">Update Task</a>
    <a href="/detail_task/{{task.id}}">Details</a>
  </li>
  {% endfor %}
</ol>

<div>
  {%for page in paginator.page_range%}
  <a href="?page={{page}}&search={{request.GET.search}}">{{page}}</a>
  {% endfor %}
</div>

<a href="/completed_tasks">complted tasks page</a>
<a href="/all_tasks">all tasks page</a>
