<h1>Tasks Management Application</h1>

<form action="/add-task" method="get">
  <input type="text" name="task" />
  <button type="submit">Add Task</button>
</form>

<h2>Search Tasks:</h2>
<form action="/add-task" method="get">
  <input type="text" name="search" />
  <button type="submit">search</button>
</form>

<h2>Tasks:</h2>
<ol>
  {% for task in tasks %}
  <li>
    <span>{{task.title}} - {{task.created_date}}</span>
    <a href="/delete-task/{{task.id}}">delete</a>
    <a href="/complete_task/{{task.id}}">mark as completd</a>
  </li>
  {% endfor %}
</ol>

<a href="/completed_tasks">complted tasks page</a>
<a href="/all_tasks">all tasks page</a>
